{% extends 'base.html' %}
{% block title %}
Пост {{ title }}
{% endblock %}
{% block content %}
      <div class="row">
        <aside class="col-12 col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Дата публикации: {{ post.pub_date }}
            </li>
            <!-- если у поста есть группа -->   
            <li class="list-group-item">
              {% if post.group %}   
              <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
              {% endif %}   
            </li>
            <li class="list-group-item">
              Автор: {{ post.author}}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора:  <span> {{ postsnum }} </span>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' author %}">
                все посты пользователя
              </a>
            </li>
          </ul>
        </aside>
        <article class="col-12 col-md-9">
          <p>
            {{ post.text }}
          </p>
             {% if is_author %}
             <a class="btn btn-primary" href="{% url 'posts:post_edit' post.pk %}">
              редактировать запись
              {% endif %}    
            </a>     
        </article>
      </div> 
{% endblock %}